.hidden
{
    position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0;
}
.contain:hover .hidden
{
    background-color: grey;
    opacity: 1;
    width: 100%;
  left: 0;
}
.hiddenone
{
    display: none;
}
.contain :hover .hiddenone
{
    display: inline;
}

/* .mainimage :hover{
    transition: 0.3s;
    transform:scale(1.1,1.1);
   
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
} */

hr.rounded 
{
    border-top: 8px solid #bbb;
  border-radius: 5px;
}